<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>

<body>
    <div id="root" class="container">
        <div class="users_container"> <!--barra di sinistra con i contatti-->
            <div class="users_top">

                <div class="avatar">
                    <div class="avatar_left">
                        <img id="avatar" :src="imgPath + user.avatar + formatJpg" alt="">
                        <h3> {{user.name}} </h3>
                    </div>
                    <div class="avatar_right">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="notifications">
                    <i class="fas fa-bell-slash"></i>
                    <div class="notifications_text">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="search">
                    <div class="wrapper">
                        <i class="fas fa-search"></i>
                        <input type="text" name="search" id="search" placeholder="Cerca o inizia una nuova chat" v-model="keyword">    
                    </div>
                </div>

            </div>
            
            <div class="users_bottom">
                <div class="user" v-for="(contact, index) in contacts" :class="[(counter == index) ? 'active' : null, 
                (keyword.slice(0,keyword.length).toLowerCase() == contacts[index].name.slice(0,keyword.length).toLowerCase() || keyword == '') ?  'visible' : 'notVisible' ]" 
                @click="counter = index">
                    <img :src="imgPath + contacts[index].avatar + formatJpg" alt="">
                    <div>
                        {{ contacts[index].name }}
                        <p style="color: grey">
                            <!-- Ultimo accesso {{ contacts[index].messages[contacts[index].messages.length-1].date }} -->
                            {{ lastAccess(index) }}
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="chat_container"> <!--barra di destra con le chat-->
            <div class="chat_top">
                <div class="chat_user_left">
                    <img id="avatar" :src="imgPath + contacts[counter].avatar + formatJpg">
                    <div class="chat_user_left_text">
                        <h3>{{ contacts[counter].name }}</h3>
                        <p style="color: grey"> {{ lastAccessActive() }} </p>
                    </div>  
                </div>
                <div class="chat_user_right">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="chat_middle">
                <div class="messages">
                    <div  v-for="(message, index) in contacts[counter].messages"  
                    :class="(contacts[counter].messages[index].status == 'sent') ? 'message_sent' : 'message_received' " 
                    @click="clickPopup(index)">
                        <span class="message_text"> 
                            {{ contacts[counter].messages[index].text }} 
                            <span><i class="fas fa-chevron-down"></i></span>
                            <div class="cancel_popup" :class="contacts[counter].messages[index] == messageCounter ? messagePopup='active' : null">
                                <p>Message info</p>
                                <p @click="deleteMessage(index)">Delete message</p>
                            </div>
                        </span>
                        <span class="message_date"> {{ contacts[counter].messages[index].date }} </span>
                    </div>
                </div>
            </div>

            <div class="chat_bottom">
                <i class="far fa-smile"></i>
                <input type="text" name="message" id="message" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
        
    </div>


    <script src="js/master.js"></script>
</body>
</html>